
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+15&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
.menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
.btn{
    background-color: #30b868;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600px;
    color: white;
    align-items: center;
    border: none;
    cursor: pointer;
    
}
header{
    background-color: #ffffff;
}
nav{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner{
    background-image: url('./images/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
  width: 70%;
  height: 60%;
   color:white;
   text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
h5{
    color: rgba(255, 255, 255, 0.67);
}
.banner-content h1{
    font-size: 55px;
    color: #ffffff;
     font-family: "Inter", sans-serif;
}
#talking{
    color:#30B868;

}
.bt{
    display: flex;
    justify-content: center;
    gap: 5px;
}
#first{
    background-color: #30B868;
 color: rgba(255, 255, 255, 0.87);
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
#second{
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
   color: rgba(255, 255, 255, 0.87);
    border-color:rgba(255, 255, 255, 0.67); ;
    background-color: transparent;
    border:1px solid white;
    cursor: pointer;
}
#rd{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: green;
}
.early{
    background-color: white;
    border-radius: 10px;
    border-style: none;
    color: green;
    padding: 7px 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}



/* section 1: cards of notes etc  */
.main-card{
    width: 100%;
    background-color: rgba(253, 246, 233, 0.342);
}
#card-container{
    width: 1600px;
    margin: auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;

}
.header-section{
    margin-bottom: 40px;
}
.header-section .header-text{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.header-section .header-desc{
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
}
.card-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
}
.card-section .card{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);

}
.card-section .card .img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 5px;
    background-color: rgb(202, 66, 13);
}
.card-section .card .img-cont{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.card-section .card .img-head{
    font-style: Semi Bold;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}
.card-section .card .img-desc{
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
}

/* section 2: brain with key points */
#forth-part{
    padding-top: 120px;
     width: 1600px;
    height: 740px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:60px;
    background-color: #ffffff;
   
}
#forth-part .images{
    width: 600px;
    border-radius: 12px;
}
#forth-part .content{
    width: 700px;
    gap: 40px;
}
.content .head-text{
    font-style: Medium;
font-size: 16px;
font-weight: 500;
color: #30b868;
margin-bottom: 16px;
}
.content .cont-head{
    font-style: Bold;
font-size: 48px;
font-weight: 700;
}
.content .cont-head-desc{
    margin-top:30px;
    font-style: Regular;
font-size: 16px;
font-weight: 400;
}
.content .desc-cont-line{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:16px;
}
.content .desc-cont-line .desc-line{
    display: flex;
    gap:5px;
}

 /* section 3: challenging part : early access section  */
#five{
    margin-top: 120px;
}
.five-mid{
    width: 1600px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #F7F6F2;
}
#five .five-content{
    width: 1200px;
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 60px 20px;
}
#five .five-content .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
}

#five .five-content .text .text-head{
font-style: Bold;
font-size: 40px;
font-weight: 700;
margin-bottom: 16px;
}

#five .five-content .text .text-head-desc{
    text-align: center;
   font-style: Regular;
font-size: 16px;
font-weight: 400;
}
#five .five-content .text2{
    width: 1280px;
    height: 88px;
    gap: 16px;
    text-align: center;
}
#five .five-content .text2 .btn1{
    background-color: #469165;
    color: #FFFFFF;
    width: 194px;
    height: 52px;
    gap: 10px;
    padding: 16px 12px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: none;
    cursor: pointer;
}
#five .five-content .text2 p{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    color: #627382;
}

/* footer start here */
#footer-container{
    margin-top: 120px;
    width: 100%;
    height: 400px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
}
#footer-container .foot-div{
    width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.social-text{
    font-style: Medium;
font-size: 20px;
font-weight: 500;
color: white;
margin-bottom: 10px;
}
.foot-socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.foot-icons{
    padding: 6px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
.foot-last{
    padding-top: 100px;
}
.foot-least-text{
    color: white;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0 10px 0;
}